*.suo
*.sdf
*.opensdf
bin/Debug/*
bin/Release/*
!bin/Debug/.gitignore
!bin/Release/.gitignore
DotNetScripting/obj/
DotNetScripting/bin/
DotNetScriptingLoader/Debug/
DotNetScriptingLoader/Release/
DotNetScriptingLoader/bin/
_ReSharper.*
*.user
packages/*
!packages/repositories.config